.ggmap{
    margin-bottom: 50px;
  }
  .lh{
    border-bottom: solid 1px rgb(201, 196, 196);
  }
  .lh p{
    color: rgb(168, 164, 163);
  }
  .thongtin{
    width: 80%;
  }
  .right_col{
    background-color: #f3f3f3;
    padding: 15px;
    margin: 0px 0px 30px;
  }
  .nd a{
    text-decoration: none;
    color: #FED700;
  }
  .nd ul, li{
    list-style-type: none;
    padding-bottom: 5px;
  }
  .nd a:hover{
    color: black;
  }
  .tieude1{
    margin: 55px 20px;
    position:absolute;
    z-index: 8;
    margin-left: 30px; 
    width: 100%;
  }
  .tieude1 h3{
      font-size: 30px;
      font-weight: bolder;
      margin-top: -24px;
  }
  .lhe{
    font-size: 90px;
    color: #f3f3f3;
    font-weight: bolder;
    margin-left: 20px;
    position: relative;
    letter-spacing: 10px;
    display: block;
    margin-top: -20px;
  }
  .dodai div{
    float: left;
    width: 50%;
    padding-left: 20px;
  }
  .gui:hover{
        background-color: gray;
        color: #FED700;
  }
  